@model MvcProyecto.Models.ReporteProblema

@{
    ViewData["Title"] = "Delete";
    Layout="_LayoutDos";
}
<body style="background-color: powderblue"></body>
<h2>Delete</h2>

<h3>Seguro que quiere eliminarlo?</h3>
<div>
    <h4>ReporteProblema</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TituloProblema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TituloProblema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DetalleProblema)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DetalleProblema)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuienReporto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuienReporto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cliente.ID)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
