@model MvcProyecto.Models.Cliente

@{
    ViewData["Title"] = "Details";
    Layout="_LayoutDos";
}
<body style="background-color: powderblue"></body>
<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CedulaJuridica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CedulaJuridica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaginaWeb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaginaWeb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DireccionFisica)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DireccionFisica)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumeroTelefono)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroTelefono)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sector)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sector)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
